.customInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
    background-color: white;
    color: black;
    
  
    &:focus {
      outline: none;
    }
  
    &:disabled {
      background-color: #6f00ff;
      border-color: #ddd;
    }
  }
  